/* css start */
@import "./reset.css";


.site-title{
    width: 50%;
    margin: 20px 25% 20px 25%;
    text-align: center;
    border: 2px solid #989898;
    padding: 10px;
    font-size: 2em;
    font-weight: bold;
}

.search-container{
    width: 90%;
    margin: 0 5% 30px 5%;   
}

#search{
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #989898;
    padding: 15px;
}

/* articles css start */
#news-articles{
    width: 90%;
    margin: 0 5% 0 5%;
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-around;
}

.article{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    transition: 0.3s;
    width: 100%;
    margin-bottom: 10px;
    background-color: #393939;
}
@media only screen and (min-width: 600px) and (max-width: 768px){
    .article{
        width: 49%;
    }
}

@media only screen and (min-width: 768px){
    .article{
        width: 24%;
    }
}

.article:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.03);
}

.article-img{
    display: block;
    width: 92%;
    margin: 15px 4% 20px 4%;
    height: 200px;
}

.article-title{
    text-overflow: ellipsis;
    overflow: hidden; 
    width: 92%;
    margin: 0 4% 20px 4%;
    color: #e5ede4;
    font-weight: bold;
    height: 50px;
    /* white-space: nowrap; */
}

.article-description{
    width: 92%;
    margin: 0 4% 20px 4%; 
    color: #cecac5;
    height: 80px;
    text-overflow: ellipsis;
    overflow: hidden; 
}
.article-author{
    display: block;
    width: 92%;
    margin: 0 4% 15px 4%;
    text-align: right;
    color: #2196f3;
    height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.article-link{
    width: 92%;
    margin: 0 4% 10px 4%;
    display: block;
    text-decoration: none;
}
/* articles css end */

/* dark / light mode css start */
body{
    background-color: #FCFCFC;
    color: #333333;
}

.body-dark{
    background-color: #333333;
    color: #ece9e9;
}

.toggle-container{
    position: absolute;
    top: 28px;
    right: 10px;
}

input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

.toggle-container label{
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 20px;
    background: grey;
    float: right;
    border-radius: 100px;
    position: relative;
}

.toggle-container label::after{
    content: '';
    position: absolute;
    left: 3px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}


.toggle-container input:checked + label{
    background: #0077ff;
}
.toggle-container input:checked + label::after{
    left: calc(100% - 5px);
    transform: translateX(-100%);
}
.toggle-container:active:after{
    width: 45px;
}

body.transision, body.transition *, body.transition *::before, body.transition *::after{
    transition: all 750ms !important;
    transition-delay: 0 !important;
}
/* dark / light mode css end */

.filter{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
    text-align: center;
}
.filter select{
    width: 20%;
    height: 30px; 
    padding: 0 10px;  
    border-radius: 5px;
    margin: 0 1%;
}

.filter input[type='date']{
    width: 15%;
    height: 26px;
    padding: 0 10px;
    border-radius: 5px;
    margin: 0 1%;
}

.filter input[type='submit']{
    width: 10%;
    height: 30px;
    padding: 10px;
    background-color: #393939;
    text-align: center;
    border: none;
    color: honeydew;
    border-radius: 5px;
    margin: 0 1%;
}
/* end filter css  */

/* not found css */
.not-found{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
    text-align: center;
}

/* pagination css */
.pagination{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}
.pagination a {
    color: black;
    /* float: initial; */
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }
  
  .pagination a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}